@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius+Unicase:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.app {
    height: 1700px;
    width: 100vw;

}

.nav-bar {
    
    
    height: 95px;
    width: 100%;
    background-color: #6F6AF7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 47px;
    color: #FFFFFF;
    font-size: 36px;
    align-items: center;
}
.nav li {
    cursor: pointer;
}

.logo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    font-family: Delius Unicase;
}

.nav li:nth-child(5){
    width: 330px;
    height: 57px;
    border-radius: 64px;
    background-color: #FFFFFF;
}

.nav input {
    font-size: 22px;
    line-height: 31px;
    color: #9F9F9F;
    margin-left: 15px;
    position: relative;
    border: none;
    
}
.search {
    position: absolute;
    margin-top: 15px;
}

.vector-logo {
    cursor: pointer;
}

.card-3 {
    position: sticky;
    float: right;
    top: 80px;
    margin-top: -180vh;
    right: 40px;
}

.card-3 img {
    height: 70px;
    display: block;
    width: fit-content;
}

.help {
    position: fixed;
    bottom: 20px;
    right: 150px;
    cursor: pointer;
    
}


.content {    

    margin-left: 50px;
    margin-right: 80px;
    height: 1695px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.section-1 {
    
    width: 1400px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    
}

.card-1 img{
    width: 400px;
    height: 450px;
}

.card-2 {
    background-color: #E5D8FF;
    width: 900px;
    height: 400px;
    border-radius: 20px;
    box-shadow: #000000;
    
}

.card-2 p {
    margin-left: 40px;
    margin-top: 20px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 29px;
    line-height: 51px;
}

.section-2 {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.section-2 div {
    width: 280px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM sans;
    font-weight: 700;
    font-size: 29px;
    line-height: 51px;
    color: #FFFFFF;
}

.one {
    background: #929DFF;
}

.two {
    background: #734CF2;
}

.three {
    background: #D288FF;
}

.four {
    background: #000000;
}

.section-3 {
    background-color: #483EFF;
    height: 550px;
    border-radius: 21px;
    display: flex;
    justify-content: space-evenly;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-left div{
    width: 300px;
    height: 100px;
    border-radius: 22px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM sans;
    font-weight: 700;
    font-size: 35px;
    line-height: 62px;
    cursor: pointer;
    border-color: white;
}

.left-1 {
    color: #000000;
    background-color: #BCE0F6;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
}

.left-2, .left-3 {
    border: 5px ;
    color: #FFFFFF;
}

.card-right {
    background-color: #FFFFFF;
    width: 900px;
    height: 400px;
    border-radius: 19px;
    margin-top: 20px;
    position: relative;
    margin-top: 5%;
    
}

.card-right p {
    color: #04285A;
    font-family: Inter;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    margin-left: 70px;
    letter-spacing: 0.105em;
    margin-bottom: 40px;
    margin-top: 20px;

}

.card-right ul {
    margin-left: 100px;
    color: #143565;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    list-style: none;
    letter-spacing: 0.05em;
    
}

.card-right li {
    margin-bottom: 20px;
}



.card-right button {
    margin-left: 75%;
    background-color: #000000;
    border-radius: 9px;
    width: 150px;
    height: 60px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}